<div class="navbar">
    <div class="navbar-inner" style="border-radius: 0px;">
        <div class="container">
            <button  type="button" class="btn btn-navbar" data-toggle="collapse"
                data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar">
                </span>
            </button>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li>@Html.ActionLink("O Condomínio", "Index", "About",null, null)</li>
                    <li>@Html.ActionLink("Estrutura", "Index", "Structure",null, null)</li>
                    <li>@Html.ActionLink("Apartamentos", "Index", "Apartment",null, null)</li>
                    <li>@Html.ActionLink("Localização", "Index", "Localization",null, null)</li>
                    <li>@Html.ActionLink("Fotos", "Index", "PhotoGallery",null, null)</li>
                    <li>@Html.ActionLink("Contato", "Index", "Contact",null, null)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
