@using WebControllers
@model Model.PacienteModel
@{     
    Boolean v_IsNewModel = Model == null || Model.Id == 0;
    String method = v_IsNewModel ? "Create" : "Edit";
}
@using (Html.BeginForm(method, "Paciente", FormMethod.Post, new { id = "saveFormId", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    
    @Html.Partial("CustomSummary")
    @Html.Partial("ViewBagMessage")
    
    <fieldset>
        <h1>
            Paciente</h1>
        <div class="row-fluid">
            <legend>Dados Pessoais</legend>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Nome)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Nome)
                        <br />
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>
                </div>
                @Html.HiddenFor(model => model.Id)
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.DataNascimento)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.DataNascimento)
                        <br />
                        @Html.ValidationMessageFor(model => model.DataNascimento)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.CPF)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.CPF)
                        <br />
                        @Html.ValidationMessageFor(model => model.CPF)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.RG)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.RG)
                        <br />
                        @Html.ValidationMessageFor(model => model.RG)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Telefone)</label>
                    <div class="controls">
                        <input name="Telefone" id="Telefone" type="text" class="bfh-phone" data-format="(dd) dddd-ddddd" placeholder="Telefone" data-number="
                                   @if (Model != null)
                                   {@Html.Raw(Model.Telefone);
                                   }" />
                        <br />
                        @Html.ValidationMessageFor(model => model.Telefone)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.Label("E-mail")</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Login.Email, new { @class = "email" })
                        <br />
                        @Html.ValidationMessageFor(model => model.Login.Email)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.Label("Senha")</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Login.Password)
                        <br />
                        @Html.ValidationMessageFor(model => model.Login.Password)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Endereco)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Endereco)
                        <br />
                        @Html.ValidationMessageFor(model => model.Endereco)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Cidade)</label>
                    <div class="controls">
                        @{
                                   int p_Identifier = Model != null && Model.Cidade != null ? Model.Cidade.Id : 0;
                        }
                        @Html.Partial("CidadeComboBox", WebControllers.CidadeController.GetComboBox(p_Identifier))
                    </div>
                </div>
                @Html.HiddenFor(model => model.Login.Id)
            </div>
            <div class="span5">
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Celular)</label>
                    <div class="controls">
                        <input name="Celular" id="Celular" type="text" class="bfh-phone" data-format="(dd) dddd-ddddd"  placeholder="Celular" data-number="
                                   @if (Model != null)
                                   {@Html.Raw(Model.Celular);
                                   }" />
                        <br />
                        @Html.ValidationMessageFor(model => model.Celular)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Convenio)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Convenio)
                        <br />
                        @Html.ValidationMessageFor(model => model.Convenio)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.GrauInstrucao)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.GrauInstrucao)
                        <br />
                        @Html.ValidationMessageFor(model => model.GrauInstrucao)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.EstadoCivil)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.EstadoCivil)
                        <br />
                        @Html.ValidationMessageFor(model => model.EstadoCivil)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.NomePai)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.NomePai)
                        <br />
                        @Html.ValidationMessageFor(model => model.NomePai)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.NomeMae)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.NomeMae)
                        <br />
                        @Html.ValidationMessageFor(model => model.NomeMae)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Profissao)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Profissao)
                        <br />
                        @Html.ValidationMessageFor(model => model.Profissao)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Sexo)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Sexo)
                        <br />
                        @Html.ValidationMessageFor(model => model.Sexo)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.Label("Foto do Paciente")</label>
                    <div class="controls">
                        @Html.Partial("PacienteUploadImageSmall", Model)
                        @Html.HiddenFor(model => model.Foto)
                        <br />
                        @Html.ValidationMessageFor(model => model.ArquivoImagem)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
               
}
@using (Html.BeginForm("Index", "Paciente", FormMethod.Get, new { id = "cancelFormId" }))
{ }
@if (!v_IsNewModel)
{
    using (Html.BeginForm("Delete", "Paciente", new { p_Identifier = Model.Id }, FormMethod.Get, new { id = "deleteFormId" }))
    { @Html.Hidden("p_Identifier", Model.Id) }
}
@section Footer
{
    @Html.Partial("FooterContainer")
}
<script src=
            "@Url.Content("~/Content/bootstrap-helpers/js/bootstrap-formhelpers-phone.format.js")" type="text/javascript"></script>
<script src=
"@Url.Content("~/Content/bootstrap-helpers/js/bootstrap-formhelpers-phone.js")" type="text/javascript"></script>
