@model IEnumerable<Model.PacienteModel>
<table id="table-list" class="table table-bordered  table-hover table-striped table-condensed">
    <thead>
        <th style="width: 8%; text-align: center;">@Html.Label(Util.Constants.Translate.ACOES)
        </th>
        <th>@Html.Label(Util.Constants.Translate.NOME)
        </th>
        <th>@Html.Label(Util.Constants.Translate.DATANASCIMENTO)
        </th>
        <th>@Html.Label(Util.Constants.Translate.CIDADE)
        </th>
        <th>@Html.Label(Util.Constants.Translate.EMAIL)
        </th>
    </thead>
    @if (Model != null)
    {
        <tbody>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 8%; text-align: center;">
                        <div class="row-fluid">
                            <a  title="Edição" href="@Url.Action("Edit", "Paciente", new { p_Identifier = item.Id })">
                                <i class="icon-edit"></i></a>
                        </div>
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.DataNascimento)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Cidade.Nome)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Login.Email)
                    </td>
                </tr>
               
            }
        </tbody>
    }
</table>
