@using WebControllers
@model Model.PacienteModel
@{
    String method = "Search";
}
@using (Html.BeginForm(method, "Paciente", FormMethod.Post, new { id = "searchFormId" }))
{ 
    <div class="control-group ">
        <label class="control-label">
            @Html.LabelFor(model => model.Nome)</label>
        <div class="controls">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label">
            @Html.LabelFor(model => model.Cidade)</label>
        <div class="controls">
            <input type="text" id="CidadeNome" name="CidadeNome" class="text-box single-line" placeholder="Nome da Cidade" >
        </div>
    
    </div>
    <div class="control-group">
        <label class="control-label">
            @Html.LabelFor(model => model.DataNascimento)</label>
        <div class="controls">
            @Html.EditorFor(model => model.DataNascimento)
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">
            @Html.LabelFor(model => model.Login.Email)</label>
        <div class="controls">
            <input type="text" id="LoginEmail" name="LoginEmail" class="text-box single-line" placeholder="Email do Paciente" >
        </div>
    </div>
   
}
