@model IEnumerable<Model.ExameDadosModel>
<table id="table-list" class="table table-bordered  table-hover table-striped table-condensed">
    <thead>
        <th style="width: 8%; text-align: center;">@Html.Label(Util.Constants.Translate.ACOES)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.VALOR)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.DESCRICAO)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.DATAEXAME)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.PACIENTE)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.TIPOEXAME)
        </th>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="width: 8%; text-align: center;">
                        @Html.Partial("ExameDadosAction", item)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.DataExame)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Paciente.Nome)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.TipoExame.Nome)
                    </td>
                </tr>

            }
        </tbody>
    }
</table>
