@using CondominioSaoMiguel.Util
@model CondominioSaoMiguel.Models.ContactModel
@{
    ViewBag.Title = "Condomínio São Miguel";
    bool isModelValid = (ViewBag.ModelValid == null) || (ViewBag.ModelValid == true);
}
<script type="text/javascript">

    $(document).ready(function () {
       

        $("#sendMessageForm").submit(function () {
            debugger;
            var queryString = $("#sendMessageForm").serialize() + '&';
            $('#body-content').showLoading({
                'addClass': 'loading-indicator'
            });
            $.post(
                'Contact/SendEmail',
                queryString,
                function (data) {
                    debugger;
                    $("#body-content").html(data.Data);
                    debugger;
                    if (data.Success) {
                        $('.alert-error').hide();
                        $('.alert-success').show();
                    } else {
                        $('.alert-success').hide();
                        $('.alert-error').show();
                    }
                    $('#body-content').hideLoading();
                }
            );

            return false;
        });
    });


</script>
<div class="control-group row-fluid">
    <div class="span6" style="margin-left: 0px;">
        <div id="sendMessage">
            <div class="control-label title">
                <b>Contato</b></div>
            <br />
            <div id="message-error" style="display: none;" class="alert alert-error">
                @Html.ValidationSummary()
            </div>
            <br />
            <div id="message-success" style="display: none;" class="alert alert-success">
                Mensagem enviada com sucesso</div>
            @using (Ajax.CustomBeginForm("SendEmail", "Contact", new AjaxOptions() { InsertionMode = InsertionMode.Replace, UpdateTargetId = "sendMessage", HttpMethod = "Post" }, new { @id = "sendMessageForm", @class = "form-horizontal" }))
            {
                
                <div class="control-group">
                    <label class="control-label" for="inputEmail">
                        Email</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Email, new { maxlength = 200, @class = "input-xlarge", id = "inputEmail" })
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="inputName">
                        Nome</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Name, new { maxlength = 100, @class = "input-xlarge ", id = "inputName" })
                    </div>
                </div>
                
                <div class="control-group">
                    <label class="control-label" for="inputDDD">
                        DDD</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.DDD, new { maxlength = 3, @class = "input-mini", id = "inputDDD", onkeypress = "return isNumberKey(event)" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputPhone">
                        Telefone</label>
                    <div class="controls">
                        @Html.TextBoxFor(model => model.Phone, new { maxlength = 9, @class = "input-medium", id = "inputPhone", onkeypress = "return isNumberKey(event)" })
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="inputMessage">
                        Mensagem</label>
                    <div class="controls">
                        @Html.TextAreaFor(model => model.Message, new { @class = "input-xxlarge", id = "inputMessage", rows = "4" })
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button id="sendButton" class="btn btn-primary" type="submit" title="Enviar">
                            <i class="icon-envelope icon-white"></i>Enviar</button>
                    </div>
                </div>          
            }
        </div>
    </div>
</div>
