@using DAL
@using Model
@using WebControllers
@model Model.ConsultaModel
<script type="text/javascript">
    $(document).ready(function () {
        $("#editAnamneseConsultaRaphaelForm").submit(function (e) {
            var queryString = $(e.target).serialize() + '&';
            $.post('EditarAnamneseConsultaRaphael', queryString, function (data) {
                $("#anamnese-content").html(data);
            });
            return false;
        });
    });
</script>
<div class="row-fluid form-horizontal tab-pane-content">
    @using (Ajax.BeginForm("EditarAnamneseConsultaRaphael", "Consulta",
    new AjaxOptions { HttpMethod = "POST" }, new { id = "editAnamneseConsultaRaphaelForm" }))
    {
        <div class="row-fluid " style="margin-bottom: 20px;">
            <button class="btn  btn-success pull-left" type="submit">
                Salvar Dados</button>
        </div>
    
        @Html.Partial("CustomSummary")
        @Html.Partial("ViewBagMessage")
        @Html.HiddenFor(model => model.Id)
    
        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.AnamneseConsultaRaphael.HabitosAlimentares)</label>
            <div class="controls">
                @Html.EditorFor(model => model.AnamneseConsultaRaphael.HabitosAlimentares)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.AnamneseConsultaRaphael.ExameFisico)</label>
            <div class="controls">
                @Html.EditorFor(model => model.AnamneseConsultaRaphael.ExameFisico)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.AnamneseConsultaRaphael.HipotesesDiagnosticadas)</label>
            <div class="controls">
                @Html.EditorFor(model => model.AnamneseConsultaRaphael.HipotesesDiagnosticadas)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.AnamneseConsultaRaphael.PlanoPropedeutico)</label>
            <div class="controls">
                @Html.EditorFor(model => model.AnamneseConsultaRaphael.PlanoPropedeutico)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.AnamneseConsultaRaphael.HipotesesDiagnosticadas)</label>
            <div class="controls">
                @Html.EditorFor(model => model.AnamneseConsultaRaphael.HipotesesDiagnosticadas)
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                @Html.LabelFor(model => model.AnamneseConsultaRaphael.PlanoPropedeutico)</label>
            <div class="controls">
                @Html.EditorFor(model => model.AnamneseConsultaRaphael.PlanoPropedeutico)
            </div>
        </div>
    
    }
</div>
