@using DAL
@using Model
@using WebControllers
@model Model.ConsultaModel
<script type="text/javascript">
    $(document).ready(function () {
        $("#editAnamneseConsultaGuilhermeForm").submit(function (e) {
            var queryString = $(e.target).serialize() + '&';
            $.post('EditarAnamneseConsultaGuilherme', queryString, function (data) {

                $("#anamnese-content").html(data);
            });
            return false;
        });
    });
</script>
<div class="row-fluid form-horizontal tab-pane-content">
    @using (Ajax.BeginForm("EditarAnamneseConsultaGuilherme", "Consulta",
    new AjaxOptions { HttpMethod = "POST" }, new { id = "editAnamneseConsultaGuilhermeForm" }))
    {
        @Html.Partial("CustomSummary")
        @Html.Partial("ViewBagMessage")
        @Html.HiddenFor(model => model.Id)
        <div class="row-fluid " style="margin-bottom: 20px;">
            <button class="btn  btn-success pull-left" type="submit">
                Salvar Dados</button>
        </div>
    
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.TempoObesidade)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.TempoObesidade)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.Classificacao)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.Classificacao)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.PesoMaximo)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.PesoMaximo)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.PesoMinimo)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.PesoMinimo)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.TempoAtingirPesoMinimo)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.TempoAtingirPesoMinimo)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.EpisodioDeterminante)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.EpisodioDeterminante)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.HabitosAlimentares)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.HabitosAlimentares)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.HabitosVida)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.HabitosVida)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.Dieta)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.Dieta)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.NumeroTentativasTratamento)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.NumeroTentativasTratamento)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.InternacaoSPA)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.InternacaoSPA)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.MotivoInsucesso)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.MotivoInsucesso)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.ParentesObesos)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.ParentesObesos)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.Gestacoes)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.Gestacoes)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.TratamentoPsiquiatrico)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.TratamentoPsiquiatrico)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaGuilherme.ObitosFamilia)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaGuilherme.ObitosFamilia)
                </div>
            </div>
        </div>
        
        
    }
</div>
