@using DAL
@using Model
@using WebControllers
@model Model.ConsultaModel
<script type="text/javascript">
    $(document).ready(function () {
        $("#editAnamneseConsultaEricaForm").submit(function (e) {
            var queryString = $(e.target).serialize() + '&';
            $.post('EditarAnamneseConsultaErica', queryString, function (data) {

                $("#anamnese-content").html(data);
            });
            return false;
        });
    });
</script>
<div class="row-fluid form-horizontal tab-pane-content">
    @using (Ajax.BeginForm("EditarAnamneseConsultaErica", "Consulta",
    new AjaxOptions { HttpMethod = "POST" }, new { id = "editAnamneseConsultaEricaForm" }))
    {
        @Html.Partial("CustomSummary")
        @Html.Partial("ViewBagMessage")
        @Html.HiddenFor(model => model.Id)
        <div class="row-fluid " style="margin-bottom: 20px;">
            <button class="btn  btn-success pull-left" type="submit">
                Salvar Dados</button>
        </div>
    
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.TempoProblemaFoiObservado)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.TempoProblemaFoiObservado)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.FoiConsultadoEspecialistas)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.FoiConsultadoEspecialistas)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.FazUsoSubstanciaPsicoativa)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.FazUsoSubstanciaPsicoativa)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.FazTratamentoMedico)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.FazTratamentoMedico)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.CondicaoSaudeMaeNaGravidez)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.CondicaoSaudeMaeNaGravidez)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.LevouQuedaOuSusto)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.LevouQuedaOuSusto)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.CondicoesEmocionaisMaeNaGravidez)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.CondicoesEmocionaisMaeNaGravidez)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.TempoNascimento)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.TempoNascimento)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.TipoParto)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.TipoParto)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.ProblemasPosParto)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.ProblemasPosParto)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.SofreuAcidente)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.SofreuAcidente)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.SubmeteuCirurgia)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.SubmeteuCirurgia)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.ProblemaVisao)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.ProblemaVisao)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.ProblemaAudicao)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.ProblemaAudicao)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.DorCabeca)</label>
                <div class="controls span6">
                    @Html.CheckBoxFor(model => model.AnamneseConsultaErica.DorCabeca)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.DesmaiouAlgumaVez)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.DesmaiouAlgumaVez)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.TemConvulsao)</label>
                <div class="controls span6">
                    @Html.CheckBoxFor(model => model.AnamneseConsultaErica.TemConvulsao)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.ProblemasFamilia)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.ProblemasFamilia)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.Alimentacao)</label>
                <div class="controls span6">
                    @Html.TextAreaFor(model => model.AnamneseConsultaErica.Alimentacao)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.Sono)</label>
                <div class="controls span6">
                    @Html.TextAreaFor(model => model.AnamneseConsultaErica.Sono)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.Desenvolvimento)</label>
                <div class="controls span6">
                    @Html.TextAreaFor(model => model.AnamneseConsultaErica.Desenvolvimento)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.QuaisMedidasParaDisciplinar)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.QuaisMedidasParaDisciplinar)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.ComoReageAoSerContrariado)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.ComoReageAoSerContrariado)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.QuaisAsAtividadesPreferidas)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.QuaisAsAtividadesPreferidas)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.HorarioEstudar)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.HorarioEstudar)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.AuxilioPaisNaEscola)</label>
                <div class="controls span6">
                    @Html.CheckBoxFor(model => model.AnamneseConsultaErica.AuxilioPaisNaEscola)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.GostaIrEscola)</label>
                <div class="controls span6">
                    @Html.CheckBoxFor(model => model.AnamneseConsultaErica.GostaIrEscola)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.RepetiuSerieAlgumaVez)</label>
                <div class="controls span6">
                    @Html.CheckBoxFor(model => model.AnamneseConsultaErica.RepetiuSerieAlgumaVez)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.GostaEstudar)</label>
                <div class="controls span6">
                    @Html.CheckBoxFor(model => model.AnamneseConsultaErica.GostaEstudar)
                </div>
            </div>
            <div class="control-group">
                <label class="control-label span6">
                    @Html.LabelFor(model => model.AnamneseConsultaErica.Observacoes)</label>
                <div class="controls span6">
                    @Html.EditorFor(model => model.AnamneseConsultaErica.Observacoes)
                </div>
            </div>
        </div>
        
    }
</div>
