@model Model.ConsultaModel
<script type="text/javascript">
    $(document).ready(function () {
        $("#editDadosGeraisForm").submit(function (e) {
            var queryString = $("#editDadosGeraisForm").serialize() + '&';
            $.post('EditarDadosGeraisPaciente', queryString, function (data) {
                $("#dadosgerais-content").html(data);
            });
            return false;
        });
    });
</script>
@using (Ajax.BeginForm("EditarDadosGeraisPaciente", "Consulta",
    new AjaxOptions { HttpMethod = "POST" }, new { id = "editDadosGeraisForm" }))
{
    
    <div class="row-fluid tab-pane-content" style="max-height: 350px;">
        @Html.Partial("CustomSummary")
        @Html.Partial("ViewBagMessage")
        @Html.HiddenFor(model => model.Paciente.Id)
        @Html.HiddenFor(model => model.Id)
        <div class="row-fluid " style="margin-bottom: 20px;">
            <button class="btn  btn-success pull-left" type="submit">
                Salvar Dados</button>
        </div>
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.PatologiasNaColuna)
                @Html.EditorFor(model => model.Paciente.PatologiasNaColuna)
            </div>
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.MedicacaoEmUso)
                @Html.EditorFor(model => model.Paciente.MedicacaoEmUso)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.CirurgiasRealizadas)
                @Html.EditorFor(model => model.Paciente.CirurgiasRealizadas)
            </div>
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.Etilista)
                @Html.EditorFor(model => model.Paciente.Etilista)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.Tabagista)
                @Html.EditorFor(model => model.Paciente.Tabagista)
            </div>
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.HistoricoPatologiasFamilia)
                @Html.EditorFor(model => model.Paciente.HistoricoPatologiasFamilia)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.AcompanhamentoMedico)
                @Html.EditorFor(model => model.Paciente.AcompanhamentoMedico)
            </div>
            <div class="span6">
                @Html.LabelFor(model => model.Paciente.ClassificacaoObesidade)
                @Html.EditorFor(model => model.Paciente.ClassificacaoObesidade)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Diabetes)
                @Html.CheckBoxFor(model => model.Paciente.Diabetes)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.InsuficienciaCardiaca)
                @Html.CheckBoxFor(model => model.Paciente.InsuficienciaCardiaca)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Arritmias)
                @Html.CheckBoxFor(model => model.Paciente.Arritmias)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Hirsutismo)
                @Html.CheckBoxFor(model => model.Paciente.Hirsutismo)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.HAS)
                @Html.CheckBoxFor(model => model.Paciente.HAS)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.ArtrosesJoelhos)
                @Html.CheckBoxFor(model => model.Paciente.ArtrosesJoelhos)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.ArtrosesTornozelos)
                @Html.CheckBoxFor(model => model.Paciente.ArtrosesTornozelos)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.DRGE)
                @Html.CheckBoxFor(model => model.Paciente.DRGE)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.HipoTireoidismo)
                @Html.CheckBoxFor(model => model.Paciente.HipoTireoidismo)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Hipertiroidismo)
                @Html.CheckBoxFor(model => model.Paciente.Hipertiroidismo)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Apneia)
                @Html.CheckBoxFor(model => model.Paciente.Apneia)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Dismenorreia)
                @Html.CheckBoxFor(model => model.Paciente.Dismenorreia)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Depressao)
                @Html.CheckBoxFor(model => model.Paciente.Depressao)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Colelitiase)
                @Html.CheckBoxFor(model => model.Paciente.Colelitiase)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.DoencaHemorroidaria)
                @Html.CheckBoxFor(model => model.Paciente.DoencaHemorroidaria)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Dispneia)
                @Html.CheckBoxFor(model => model.Paciente.Dispneia)
            </div>
        </div>
        <div class="row-fluid">
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Esterilidade)
                @Html.CheckBoxFor(model => model.Paciente.Esterilidade)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.BronquiteAsma)
                @Html.CheckBoxFor(model => model.Paciente.BronquiteAsma)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.Coronariopatia)
                @Html.CheckBoxFor(model => model.Paciente.Coronariopatia)
            </div>
            <div class="span3">
                @Html.LabelFor(model => model.Paciente.VarizesMMII)
                @Html.CheckBoxFor(model => model.Paciente.VarizesMMII)
            </div>
        </div>
    </div>
    
}