@model ICollection<Model.ExameImagemModel>
<div class="row-fluid " style="margin-bottom: 20px;">
    <button class="btn  btn-success pull-left" type="button" onclick="openModal(exameimagemmodal);return false;">
        Adicionar exame de imagem</button>
</div>
<table id="table-list" class="table table-bordered  table-hover table-striped table-condensed">
    <thead>
        <th style="text-align: center;">@Html.Label(Util.Internationalization.Indicacao)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Internationalization.Laudo)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.DATAEXAME)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Internationalization.TipoExame)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Internationalization.CategoriaExame)
        </th>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model.Where(model => model.DataExame != DateTime.MinValue))
            {
                <tr>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Indicacao)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Laudo)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.DataExame)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.TipoExame.Nome)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.TipoExame.CategoriaExame)
                    </td>
                </tr>

            }
        </tbody>
    }
</table>
