@model IEnumerable<Model.ExameDadosModel>
@Html.Partial("ViewBagMessage")
<div class="row-fluid " style="margin-bottom: 20px;">
    <button class="btn  btn-success pull-left" type="button" onclick="openModal(examedadosmodal);return false;">
        Adicionar resultado do exame</button>
</div>
<table id="table-list" class="table table-bordered  table-hover table-striped table-condensed">
    <thead>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.VALOR)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.DESCRICAO)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.DATAEXAME)
        </th>
        <th style="text-align: center;">@Html.Label(Util.Constants.Translate.TIPOEXAME)
        </th>
        
        <th style="text-align: center;">@Html.Label(Util.Internationalization.CategoriaExame)
        </th>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model.Where(model=>model.DataExame != DateTime.MinValue))
            {
                <tr>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.DataExame)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.TipoExame.Nome)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.TipoExame.CategoriaExame)
                    </td>
                </tr>

            }
        </tbody>
    }
</table>
