@using Util
@model Model.PacienteModel
@Html.Partial("ViewBagMessage")
<div class="row-fluid " style="margin-bottom: 20px;">
    <button class="btn  btn-success pull-left" type="button" onclick="openModal(medidapacientemodal);return false;">
        Atualizar medidas do paciente</button>
</div>
<table id="table-list" class="table table-bordered  table-hover table-striped table-condensed">
    <thead>
        <th style="text-align: center;">@Html.Label(Internationalization.DataMedicao)
        </th>
        <th style="text-align: center;">@Html.Label(Internationalization.Peso)
        </th>
        <th style="text-align: center;">@Html.Label(Internationalization.Altura)
        </th>
        <th style="text-align: center;">@Html.Label(Internationalization.PorcentagemGordura)
        </th>
        <th style="text-align: center;">@Html.Label(Internationalization.PressaoArterial)
        </th>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model.MedidaPaciente.Where(model =>model.DataMedicao!= DateTime.MinValue))
            {
                <tr>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.DataMedicao)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Altura)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.PorcentagemGordura)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.PressaoArterial)
                    </td>
                </tr>

            }
        </tbody>
    }
</table>
