@model Model.MedidaPacienteModel
<div class="modal-body" style="max-height: 800px;">
    @using (Html.BeginForm("CreateMedidaPaciente", "Consulta",
        FormMethod.Post, new { id = "saveMedidaPacienteForm", @class = "form-horizontal" }))
    {             
        @Html.Partial("ViewBagMessage")
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Paciente.Id)
        @Html.HiddenFor(model => model.DataMedicao)
        <legend>Medidas do paciente</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.DataMedicao)</label>
                    <div class="controls">
                        @DateTime.Today.Date.ToString("dd/MM/yyyy")
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Peso)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Peso)
                        <br />
                        @Html.ValidationMessageFor(model => model.Peso)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Altura)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Altura)
                        <br />
                        @Html.ValidationMessageFor(model => model.Altura)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.PressaoArterial)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.PressaoArterial)
                        <br />
                        @Html.ValidationMessageFor(model => model.PressaoArterial)
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.CircunferenciaBraco)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.CircunferenciaBraco)
                        <br />
                        @Html.ValidationMessageFor(model => model.CircunferenciaBraco)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.CircunferenciaCintura)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.CircunferenciaCintura)
                        <br />
                        @Html.ValidationMessageFor(model => model.CircunferenciaCintura)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.CircunferenciaQuadril)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.CircunferenciaQuadril)
                        <br />
                        @Html.ValidationMessageFor(model => model.CircunferenciaQuadril)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.PorcentagemGordura)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.PorcentagemGordura)
                        <br />
                        @Html.ValidationMessageFor(model => model.PorcentagemGordura)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.PorcentagemMuscular)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.PorcentagemMuscular)
                        <br />
                        @Html.ValidationMessageFor(model => model.PorcentagemMuscular)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.PorcentagemGorduraVisceraol)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.PorcentagemGorduraVisceraol)
                        <br />
                        @Html.ValidationMessageFor(model => model.PorcentagemGorduraVisceraol)
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<div class="modal-footer">
    <button class="btn" data-dismiss="modal">
        Fechar</button>
    <button class="btn btn-success" type="submit" data-dismiss="modal" onclick="$('#saveMedidaPacienteForm').submit()">
        Salvar</button>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $("#saveMedidaPacienteForm").submit(function (e) {
            var queryString = $(e.target).serialize() + '&';
            $.post('CreateMedidaPaciente', queryString, function (data) {
                $("#acompanhamento-content").html(data);
            });
            return false;
        });
    });

    function closeMedidaPacienteModal() {
        closeModal("#medidapacientemodal");
    }

</script>
