@using UtilWeb
@{
    ViewBag.Title = "Condomínio São Miguel";
}
<div class="row-fluid" style="margin-top: 30px; margin-left: auto; margin-right: auto; width:750px;">
    <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="item active">
                <img alt="Portaria Principal" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/frente2.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Portaria Principal</h4>
                </div>
            </div>
            <div class="item">
                <img  alt="Edifício Brani" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/branirext.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Edifício Brani</h4>
                </div>
            </div>
            <div class="item ">
                <img    alt="Edifício Rama" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/Ed.Rama.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Edifício Rama</h4>
                </div>
            </div>
            <div class="item ">
                <img    alt="Edifício Ganesh" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/ganesh.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Edifício Ganesh</h4>
                </div>
            </div>
            <div class="item ">
                <img    alt="Edifício Johor" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/johorext.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Edifício Johor</h4>
                </div>
            </div>
            <div class="item ">
                <img    alt="Edifício Pasir" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/pasirpajang.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Edifício Pasir</h4>
                </div>
            </div>
            <div class="item ">
                <img    alt="Edifício Shiva" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/Shiva.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Edifício Shiva</h4>
                </div>
            </div><div class="item ">
                <img    alt="Edifício Vishnu" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/pasirpajang.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Edifício Vishnu</h4>
                </div>
            </div>
            <div class="item ">
                <img    alt="Lavanderia" src="@UtilWeb.HtmlHelper.GetImageSourceFromFilePath(Server.MapPath("~/Content/img/lavanderia.jpg"))" />
                <div class="carousel-caption">
                    <h4>
                        Área de Lavanderia</h4>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a> <a class="right carousel-control"
            href="#myCarousel" data-slide="next">›</a>
    </div>
</div>
@Html.Partial("_Modal", "image-modal")
