<div class="row-fluid">
    <div class="span7">
        <div class="row-fluid">
            @Html.Partial("StackList")
        </div>
        <div class="row-fluid">
            @Html.Partial("StackHarbor")
        </div>
        <div class="row-fluid">
            @Html.Partial("StackOptimizationResult")
        </div>
    </div>
    <div class="span5">
        <div class="row-fluid">
            @Html.Partial("StackChart")
        </div>
        <div class="row-fluid">
            @Html.Partial("StackResultInfo")
        </div>
    </div>
</div>
