@using Util
@model IEnumerable<Model.CirurgiaModel>
<table id="table-list" class="table table-bordered  table-hover table-striped table-condensed">
    <thead>
        <th style="text-align: center;">@Html.Label(Internationalization.DataCirurgia)
        </th>
        <th style="text-align: center;">@Html.Label(Internationalization.Nome)
        </th>
        <th style="text-align: center;">@Html.Label(Internationalization.Paciente)
        </th>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.DataCirurgia)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td style="text-align: center;">@Html.DisplayFor(modelItem => item.Paciente.Nome)
                    </td>
                </tr>

            }
        </tbody>
    }
</table>
