<nav id="nav_site">
    <ul class="row">
        <li class="col-md-1 active"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="col-md-2"><a href="@Url.Action("Escritorio", "Home")">O Escritório</a></li>
        <li class="col-md-2"><a href="@Url.Action("Atuacao", "Home")">Áreas de Atuação</a></li>
        <li class="col-md-1"><a href="@Url.Action("INSS", "Home")">INSS</a></li>
        <li class="col-md-2"><a href="@Url.Action("ApoioCliente", "Home")">Apoio ao Cliente</a></li>
        <li class="col-md-2"><a href="@Url.Action("Glossario", "Home")">Glossário</a></li>
        <li class="col-md-2"><a href="@Url.Action("Contato", "Home")">Contato</a></li>
    </ul>
</nav>
