@using WebControllers
@model Model.ExameImagemModel
@{
    Boolean v_IsNewModel = Model == null || Model.Id == 0;
    String method = v_IsNewModel ? "Create" : "Edit";
}
@using (Html.BeginForm(method, "ExameImagem", FormMethod.Post, new { id = "saveFormId", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.Partial("CustomSummary")
    @Html.Partial("ViewBagMessage")
    <fieldset>
        <h1>
            Exame de Imagem
        </h1>
        <div class="row-fluid">
            <legend>Dados</legend>
            <div class="span6">
                @Html.HiddenFor(model => model.Id)
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.TipoExame)</label>
                    <div class="controls">
                        @Html.Partial("TipoExameComboBox", WebControllers.TipoExameController.GetComboBox(!v_IsNewModel && Model.TipoExame != null ? Model.TipoExame.Id : 0))
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Paciente)</label>
                    <div class="controls">
                        @Html.Partial("PacienteComboBox", WebControllers.PacienteController.GetComboBox(Model != null && Model.Paciente != null ? Model.Paciente.Id : 0))
                        <br />
                        @Html.ValidationMessageFor(model => model.Paciente)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.DataExame)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.DataExame)
                        <br />
                        @Html.ValidationMessageFor(model => model.DataExame)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Indicacao)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Indicacao)
                        <br />
                        @Html.ValidationMessageFor(model => model.Indicacao)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">
                        @Html.LabelFor(model => model.Laudo)</label>
                    <div class="controls">
                        @Html.EditorFor(model => model.Laudo)
                        <br />
                        @Html.ValidationMessageFor(model => model.Laudo)
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="control-group">
                    <label class="control-label">
                        @Html.Label("Imagem do Exame")</label>
                    <div class="controls">
                        @Html.Partial("UploadImage", "ArquivoImagem")
                        <br />
                        @Html.ValidationMessageFor(model => model.ArquivoImagem)
                        @Html.ValidationMessageFor(model => model.Imagem)
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
}
@using (Html.BeginForm("Index", "ExameImagem", FormMethod.Get, new { id = "cancelFormId" }))
{ }
