<div class="container">
    <div class="footer-content">
        <div class="row-fluid">
            <div class="span7">
                <div class="row-fluid" style="font-style: italic; font-family: Adobe Gothic Std;
                    font-size: x-large;">
                    Rua Joaquim Esteves de Oliveira, 328 - Jd São Carlos
                </div>
                <div class="row-fluid">
                    <div class="span12 " style="margin-top: 15px;">
                        <ul class="phonelist">
                            <li>
                                @Html.Partial("_DDD", "35")
                            
                                @Html.Partial("_Phone", "3291-3996")
                            </li>

                            <li>
                                @Html.Partial("_DDD", "35")
                                @Html.Partial("_Phone", "8838-3459")
                            </li>
                            <li class="visible-desktop">
                                @Html.Partial("_FacebookLike")
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span5">
                <div class="row-fluid">
                    <img onclick="replaceOnComplete('Contact', 'IndexPartialView', null, '#body-content');" style="margin: 10px;" class="pull-left" src="../../Content/img/IconeEmail.jpg"/>
                    <div class="span10">
                        <div class="row-fluid visible-desktop">
                            @Html.Partial("_Email", CondominioSaoMiguel.Util.Constants.Information.PRIMARY_EMAIL)
                        </div>
                        <div class="row-fluid visible-desktop">
                            @Html.Partial("_Email", CondominioSaoMiguel.Util.Constants.Information.SECUNDARY_EMAIL)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
