
<div class="container navbar-wrapper">
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand"  href="@Url.Action("Index")">Condomínio São Miguel</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="@Url.Action("Index")">Home</a></li>
                    <li><a href="@Url.Action("Localizacao")">Localização</a></li>
                    <li><a href="@Url.Action("Fotos")">Fotos</a></li>
                    <li><a href="@Url.Action("Contato")">Contato</a></li>                               
                    <li><a href="@Url.Action("About")">Sobre</a></li>
                </ul>                
            </div>
        </div>
    </div>
</div>
