@model Model.ComboBoxModel
@{
    SelectListItem v_Item = null;
    if (Model != null && Model.m_ItemList != null)
    {
        v_Item = Model != null && Model.m_ItemList != null ? Model.m_ItemList.Where(model => model.Selected).FirstOrDefault() : null;

        if (v_Item == null)
        {
            v_Item = Model.m_ItemList.FirstOrDefault();
        }
    }


    if (v_Item == null || Model == null || Model.m_ItemList == null)
    {
        <input type="text" disabled>
    }
    else
    {
    <div class="bfh-selectbox">
        <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox"
            href="#">
            <input type="hidden" name="@Model.m_Name" id="@Model.m_Id" value="@v_Item.Value">
            <span class="bfh-selectbox-option">@v_Item.Text</span> <b class="caret"></b>
        </a>
        <div class="bfh-selectbox-options">
            <input type="text" class="bfh-selectbox-filter">
            <div role="listbox">
                <ul role="option">
                    @foreach (SelectListItem i_Item in Model.m_ItemList)
                    {
                        <li><a tabindex="-1" href="#" data-option="@i_Item.Value">@i_Item.Text</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    }
}
