@model IEnumerable<Model.PerfilModel>
<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <div class="row-fluid well">
                @Html.Partial("PerfilSearch", new Model.PerfilModel())
                <button class="pull-right btn btn-primary" onclick="$('#searchFormId').submit()">@Util.Constants.Page.BUSCAR</button>
                <button class="btn btn-success pull-right" style="margin-right:30px;" type="button" onclick="window.location.href='@Url.Action("Create", "Perfil")'; ">
                    @Util.Constants.Page.NEW
                </button>
            </div>
        </div>
        <div class="span8 offset1" style="max-height: 500px;overflow: auto;">
            @Html.Partial("PerfilTableList", Model)
        </div>
    </div>
</div>


