@using WebControllers
@model Model.SubMenuModel
@{
	String method = "Search";
}

@using (Html.BeginForm(method, "SubMenu", FormMethod.Post, new { id = "searchFormId" }))
{
 

			<div class="control-group ">
				<label class="control-label" >
					@Html.LabelFor(model=>model.Name)</label>
				<div class="controls">

				    @Html.EditorFor(model => model.Name)
					@Html.ValidationMessageFor(model=>model.Name)
				</div>
			</div>

			<div class="control-group ">
				<label class="control-label" >
					@Html.LabelFor(model=>model.Url)</label>
				<div class="controls">

				    @Html.EditorFor(model => model.Url)
					@Html.ValidationMessageFor(model=>model.Url)
				</div>
			</div>

			<div class="control-group ">
				<label class="control-label" >
					@Html.LabelFor(model=>model.ClassName)</label>
				<div class="controls">

				    @Html.EditorFor(model => model.ClassName)
					@Html.ValidationMessageFor(model=>model.ClassName)
				</div>
			</div>

}

