@using WebControllers
@using Model
@model Model.SubMenuModel

@{
	Boolean v_IsNewModel = Model== null || Model.Id == 0;
	String method = v_IsNewModel?"Create": "Edit";
}

@using (Html.BeginForm(method, "SubMenu", FormMethod.Post, new { id = "saveFormId", @class = "form-horizontal" }))
{
	@Html.Partial("CustomSummary")
	@Html.Partial("ViewBagMessage")
    <fieldset>

	
        <h1>
            SubMenu
			
			</h1>
        <div class="row-fluid">
            <div class="span6">
			<legend>Dados</legend>

	@Html.HiddenFor(model => model.Id)
			<div class="control-group">
				<label class="control-label" >
					@Html.LabelFor(model=>model.Name)</label>
				<div class="controls">
				    @Html.EditorFor(model => model.Name)
					<br/>
					@Html.ValidationMessageFor(model=>model.Name)
				    
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >
					@Html.LabelFor(model=>model.Url)</label>
				<div class="controls">
				    @Html.EditorFor(model => model.Url)
					<br/>
					@Html.ValidationMessageFor(model=>model.Url)
				    
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" >
					@Html.LabelFor(model=>model.ClassName)</label>
				<div class="controls">
				    @Html.EditorFor(model => model.ClassName)
					<br/>
					@Html.ValidationMessageFor(model=>model.ClassName)
				    
				</div>
			</div>

 			<div class="control-group">
				<label class="control-label" >
					@Html.LabelFor(model=>model.Menu)</label>
				<div class="controls">
					@Html.Partial("MenuComboBox", WebControllers.MenuController.GetComboBox(!v_IsNewModel && Model.Menu != null ? Model.Menu.Id : 0))
				</div>
			</div>

  	</div>
			</div>
	</fieldset>
}
@using (Html.BeginForm("Index", "SubMenu", FormMethod.Get, new { id = "cancelFormId"}))
{ }
@if (!v_IsNewModel)
{
    using (Html.BeginForm("Delete", "SubMenu", new { p_Identifier = Model.Id}, FormMethod.Get, new { id = "deleteFormId"}))
    { @Html.Hidden("p_Identifier", Model.Id) }
}



   